<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="clf_pringles_model" params="name pos rot">
        <body name="$clf_pringles_{name}" pos="${pos}" euler="${rot}">
            <freejoint/>
            <inertial diaginertia="0.005 0.005 0.005" mass="0.5" pos="0 0 0"/>
            <geom name="${name}_clf_pringles" type="mesh" density="0" mesh="clf_Pringles" material="clf_Pringles"/> 
        </body>
    </xacro:macro>
</mujoco>