<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro" model="Tiago Scene">
  <!-- <compiler angle="radian" autolimits="false" /> -->
  <compiler angle="radian" autolimits="true" balanceinertia="true" />
  <option noslip_iterations="1" />
  <size njmax="500" nconmax="100" />

  <xacro:include filename="$(find tobi_sim)/scenes/makros/add_robot.xml.xacro" />

  <xacro:add_robot robot_name="tiago" robot_pos="-2 0 0.11" robot_rot="0 0 0" />

  <statistic center="0 0 0.3" extent="1.2" />

  <visual>
    <headlight diffuse="0.6 0.6 0.6" ambient="0.3 0.3 0.3" specular="0 0 0" />
    <rgba haze="0.15 0.25 0.35 1" />
    <global azimuth="120" elevation="-20" />
  </visual>

  <asset>
    <texture type="skybox" builtin="gradient" rgb1="0.3 0.5 0.7" rgb2="0 0 0" width="512"
      height="3072" />
    <texture type="2d" name="groundplane" builtin="checker" mark="edge" rgb1="0.2 0.3 0.4"
      rgb2="0.1 0.2 0.3" markrgb="0.8 0.8 0.8" width="300" height="300" />
    <material name="groundplane" texture="groundplane" texuniform="true" texrepeat="5 5"
      reflectance="0.2" />

    <texture name="grid" type="2d" builtin="checker" width="512" height="512" rgb1=".1 .2 .3"
      rgb2=".2 .3 .4" />
    <material name="grid" texture="grid" texrepeat="1 1" texuniform="true" reflectance=".2" />
  </asset>

  <worldbody>
    <light pos="0 0 1.5" dir="0 0 -1" directional="true" />
    <geom name="floor" size="0 0 0.05" type="plane" material="groundplane" />

  </worldbody>

  <worldbody>
    <geom name="Table" type="box" pos="0.56428 0.000584 0.2099115"
      size="0.2265785 0.3210245 0.2099115" rgba=".5 .5 .5 1" />
    <geom name="pick_tray" type="box" pos="0.56428 -0.215704 0.419773"
      size="0.1175175 0.072463 0.01167" rgba=".0 .0 .5 1" />
    <geom name="place_tray" type="box" pos="0.56428 0.215704 0.419773"
      size="0.1175175 0.072463 0.01167" rgba=".5 .0 .0 1" />
  </worldbody>

  <worldbody>
    <body name="stone" pos="0.56428 -0.221972 0.475172">
      <freejoint />
      <geom type="box" size=".0125 .016 .032" rgba=".5 .5 .5 1" />
      <inertial pos="0 0 0" mass="0.1024" diaginertia="4.369e-5 4.028e-5 1.407e-5" />
    </body>
  </worldbody>

  <worldbody>
    <geom name="wall1" pos="0 2.4 0.25" rgba=".5 .5 .5 1" size="2.45 0.05 0.25" type="box" />
    <geom name="wall2" pos="0 -2.4 0.25" rgba=".5 .5 .5 1" size="2.45 0.05 0.25" type="box" />
    <geom name="wall3" pos="2.4 0 0.25" rgba=".5 .5 .5 1" size="0.05 2.4 0.25" type="box" />
    <geom name="wall4_firsthalf" pos="-2.4 1.6 0.25" rgba=".5 .5 .5 1" size="0.05 0.8 0.25" type="box" />
    <geom name="wall4_secondhalf" pos="-2.4 -1.6 0.25" rgba=".5 .5 .5 1" size="0.05 0.8 0.25" type="box" />

    <body name="shelf" pos="-1.4 2.35 0.0">
      <geom name="back" pos="0 -0.0 1.01" rgba=".5 .5 .5 1" size="0.4 0.005 1.01" type="box" />
      <geom name="left" pos="0.39 -0.15 1.01" rgba=".5 .5 .5 1" size="0.01 0.15 1.01" type="box" />
      <geom name="right" pos="-0.39 -0.15 1.01" rgba=".5 .5 .5 1" size="0.01 0.15 1.01" type="box" />
      <geom name="shelf1" pos="0.0 -0.15 0.105" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
      <geom name="bottomplate" pos="0.0 -0.24 0" rgba=".5 .5 .5 1" size="0.4 0.005 0.105" type="box" />
      <geom name="shelf2" pos="0.0 -0.15 0.425" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
      <geom name="shelf3" pos="0.0 -0.15 0.775" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
      <geom name="shelf4" pos="0.0 -0.15 1.065" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
      <geom name="shelf5" pos="0.0 -0.15 1.42" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
      <geom name="shelf6" pos="0.0 -0.15 1.805" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
      <geom name="top" pos="0.0 -0.15 2.02" rgba=".5 .5 .5 1" size="0.4 0.15 0.005" type="box" />
    </body>

    <body name="kitchen" pos="1.4 2.35 0.0">
      <geom name="kitchenback" pos="0 -0.0 1.01" rgba=".5 .5 .5 1" size="0.92 0.005 1.01" type="box" />
      <geom name="kitchenplate" pos="0 -0.37 0.505" rgba=".5 .5 .5 1" size="0.92 0.37 0.505" type="box" />
      <geom name="kitchencabinet" pos="-0.2 -0.2 1.6" rgba=".5 .5 .5 1" size="0.6 0.2 0.2" type="box" />
    </body>

    <geom name="Table2" pos="2.0 -2.0 0.25025" rgba=".5 .5 .5 1" size="0.3 0.3 0.25025" type="box" />

  </worldbody>

</mujoco>