<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_gelatin_box_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_gelatin_box/model.obj" name="ycb_gelatin_box" scale="1.0 1.0 1.0"/>
            <texture name="ycb_gelatin_box" file="$(find tobi_sim)/assets/meshes/ycb_gelatin_box/texture_map.png" type="2d"/>
            <material name="ycb_gelatin_box" texture="ycb_gelatin_box"/>
        </asset>
    </xacro:macro>
</mujoco>