<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_master_chef_can_model" params="name pos rot">
        <body name="ycb_master_chef_can_${name}" pos="${pos}" euler="${rot}">
            <freejoint/>
            <inertial diaginertia="0.005 0.005 0.005" mass="0.2" pos="0 0 0"/>
            <geom name="${name}_ycb_master_chef_can" type="mesh" density="0" mesh="ycb_master_chef_can" material="ycb_master_chef_can"/> 
        </body>
    </xacro:macro>
</mujoco>
