<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_knife_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_knife/model.obj" name="ycb_knife" scale="1.0 1.0 1.0"/>
            <texture name="ycb_knife" file="$(find tobi_sim)/assets/meshes/ycb_knife/texture_map.png" type="2d"/>
            <material name="ycb_knife" texture="ycb_knife"/>
        </asset>
    </xacro:macro>
</mujoco>