<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_cup_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_cup/model.obj" name="ycb_cup" scale="1.0 1.0 1.0"/>
            <texture name="ycb_cup" file="$(find tobi_sim)/assets/meshes/ycb_cup/texture_map.png" type="2d"/>
            <material name="ycb_cup" texture="ycb_cup"/>
        </asset>
    </xacro:macro>
</mujoco>