<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_cup_model" params="name pos rot">
        <body name="ycb_cup_${name}" pos="${pos}" euler="${rot}">
            <freejoint/>
            <inertial diaginertia="0.005 0.005 0.005" mass="0.2" pos="0 0 0"/>
            <geom name="${name}_ycb_cup" type="mesh" density="0" mesh="ycb_cup" material="ycb_cup"/> 
        </body>
    </xacro:macro>
</mujoco>
