<?xml version="1.0"?>

<model>
  <name>CLF grasp table</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thorben Markmann</name>
    <email>tmarkmann@techfak.uni-bielefeld.de</email>
  </author>

  <description>
    Grasp table of the central lab facility.
  </description>
</model>
