<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_bowl_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_bowl/model.obj" name="ycb_bowl" scale="1.0 1.0 1.0"/>
            <texture name="ycb_bowl" file="$(find tobi_sim)/assets/meshes/ycb_bowl/texture_map.png" type="2d"/>
            <material name="ycb_bowl" texture="ycb_bowl"/>
        </asset>
    </xacro:macro>
</mujoco>
    