<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_tomato_soup_model" params="name pos rot">
        <body name="ycb_tomato_soup_${name}" pos="${pos}" euler="${rot}">
            <freejoint/>
            <inertial diaginertia="0.005 0.005 0.005" mass="0.2" pos="0 0 0"/>
            <geom name="${name}_ycb_tomato_soup" type="mesh" density="0" mesh="ycb_tomato_soup" material="ycb_tomato_soup"/> 
        </body>
    </xacro:macro>
</mujoco>
