<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_dice_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_dice/model.obj" name="ycb_dice" scale="1.0 1.0 1.0"/>
            <texture name="ycb_dice" file="$(find tobi_sim)/assets/meshes/ycb_dice/texture_map.png" type="2d"/>
            <material name="ycb_dice" texture="ycb_dice"/>
        </asset>
    </xacro:macro>
</mujoco>