<?xml version="1.0" encoding="UTF-8"?>

<launch>
   <arg name="x" default="0.0"/>
   <arg name="y" default="0.0"/>
   <arg name="z" default="0.0"/>
   <arg name="R" default="0.0"/>
   <arg name="P" default="0.0"/>
   <arg name="Y" default="0.0"/>

   <arg name="gzpose" default="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
    
    <!-- spawn robot in simulation -->
    <include file="$(find tiago_gazebo)/launch/tiago_spawn.launch">
      <arg name="arm"  value="true"/>
      <arg name="end_effector"  value="pal-gripper"/>
      <arg name="ft_sensor"  value="false"/>
      <arg name="laser_model"  value="sick-571"/>
      <arg name="camera_model"  value="asus-xtion"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
    </include>
</launch>
