<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="world"  default="empty"/>  <!-- empty, ... (see ../worlds) -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="recording" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>

    <env name="GAZEBO_MODEL_PATH" value="$(find tobi_sim)/models:$(find tiago_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find tobi_sim)/media:$(optenv GAZEBO_RESOURCE_PATH)"/>

    <env name="LC_NUMERIC" value="C" />

    <!-- start up world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find tobi_sim)/worlds/$(arg world).world"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="recording" value="$(arg recording)"/>
      <arg name="verbose" value="$(arg verbose)"/>
      <arg name="paused" value="$(arg paused)"/>
    </include>
</launch>
