<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_lemon_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_lemon/model.obj" name="ycb_lemon" scale="1.0 1.0 1.0"/>
            <texture name="ycb_lemon" file="$(find tobi_sim)/assets/meshes/ycb_lemon/texture_map.png" type="2d"/>
            <material name="ycb_lemon" texture="ycb_lemon"/>
        </asset>
    </xacro:macro>
</mujoco>