<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_tuna_model" params="name pos rot">
        <body name="ycb_tuna_${name}" pos="${pos}" euler="${rot}">
            <freejoint/>
            <inertial diaginertia="0.005 0.005 0.005" mass="0.2" pos="0 0 0"/>
            <geom name="${name}_ycb_tuna" type="mesh" density="0" mesh="ycb_tuna" material="ycb_tuna"/> 
        </body>
    </xacro:macro>
</mujoco>
