<?xml version="1.0"?>

<model>
  <name>CLF shelf</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Markus Vieth</name>
    <email>mvieth@techfak.uni-bielefeld.de</email>
  </author>

  <description>
    Shelf of the central lab facility.
  </description>
</model>
