<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_fork_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_fork/model.obj" name="ycb_fork" scale="1.0 1.0 1.0"/>
            <texture name="ycb_fork" file="$(find tobi_sim)/assets/meshes/ycb_fork/texture_map.png" type="2d"/>
            <material name="ycb_fork" texture="ycb_fork"/>
        </asset>
    </xacro:macro>
</mujoco>