<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_banana_model" params="name pos rot">
        <body name="ycb_banana_${name}" pos="${pos}" euler="${rot}">
            <freejoint/>
            <inertial diaginertia="0.005 0.005 0.0025" mass="0.2" pos="0 0 0.025"/>
            <geom name="${name}_ycb_banana" type="mesh" density="0" mesh="ycb_banana" material="ycb_banana"/> 
        </body>
    </xacro:macro>
</mujoco>
