<?xml version="1.0" ?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="add_couch_table" params="geom_name pos:='0 0 0'">
    <worldbody>
      <body name="${geom_name}_body" pos="${pos}">
        <geom name="${geom_name}_box_0" type="box" pos="0.0 0.0 0.425" size="0.45 0.275 0.02525" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_1" type="box" pos="0.0 0.0 0.205" size="0.45 0.225 0.005" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_2" type="box" pos="0.425 0.25 0.2" size="0.025 0.025 0.2" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_3" type="box" pos="-0.425 0.25 0.2" size="0.025 0.025 0.2" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_4" type="box" pos="0.425 -0.25 0.2" size="0.025 0.025 0.2" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_5" type="box" pos="-0.425 -0.25 0.2" size="0.025 0.025 0.2" rgba="0.5 0.5 0.5 1" density="1000"/>
      </body>
    </worldbody>
  </xacro:macro>
</mujoco>
