<?xml version="1.0" ?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="add_ikea_table" params="geom_name">
    <worldbody>
      <body name="${geom_name}_body">
        <geom name="${geom_name}_box_0" type="box" pos="0.0 0.0 0.7415" size="0.4 0.6 0.0085" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_1" type="box" pos="-0.38 -0.58 0.366" size="0.02 0.02 0.366" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_2" type="box" pos="0.38 -0.58 0.366" size="0.02 0.02 0.366" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_3" type="box" pos="-0.38 0.58 0.366" size="0.02 0.02 0.366" rgba="0.5 0.5 0.5 1" density="1000"/>
        <geom name="${geom_name}_box_4" type="box" pos="0.38 0.58 0.366" size="0.02 0.02 0.366" rgba="0.5 0.5 0.5 1" density="1000"/>
      </body>
    </worldbody>
  </xacro:macro>
</mujoco>
