 <launch>

    <arg name="world" value="$(env NAVIGATION_WORLD_STAGE)"/>
    
    <param name="/use_sim_time" value="true" />

    <!-- Stage -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world).world" />
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 base_laser_link laser_front 100" />

    <!-- provide laser scans on the same topic as on the real robot -->
    <node pkg="topic_tools" type="relay" name="base_scan_relay_filtered" args="/base_scan /scan_filtered" />
    <node pkg="topic_tools" type="relay" name="base_scan_relay_merged" args="/base_scan /scan_merged" />
    <node pkg="topic_tools" type="relay" name="scan_relay" args="/base_scan /scan" />
    <node pkg="topic_tools" type="relay" name="scan_relay_max" args="/base_scan /scan_max" />
    <node pkg="rostopic" type="rostopic" name="init_pose_pub" args="pub /initialpose geometry_msgs/PoseWithCovarianceStamped "header: seq: 0 stamp: secs: 0 nsecs: 0 frame_id: '' pose: pose: position: {x: 1.786, y: 3.047, z: 0.0} orientation: {x: 0.0, y: 0.0, z: 0.0, w: 1.280} covariance: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]""/>
</launch>
