<launch>
    
    <include file="$(find meka_description)/launch/m3bie_gazebo_controllers.launch" />

	<!-- joint state publisher without gui -->
	<!-- <param name="use_gui" value="false" />
	<rosparam command="load" file="$(find katana_description)/params/dependent_joints.yaml" />
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->

</launch>
