 <launch>
    <!-- MORSE REMAPPING -->
    <node pkg="tf" type="static_transform_publisher" name="link0_broadcaster" args="0 0 0 0 0 0 1 base_footprint base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 base_link base_laser_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 base_laser_link laser_front 100" />
</launch>
