<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_rubiks_cube_assets">
        <asset>
            <mesh file="$(find tobi_sim)/assets/meshes/ycb_rubiks_cube/model.obj" name="ycb_rubiks_cube" scale="1.0 1.0 1.0"/>
            <texture name="ycb_rubiks_cube" file="$(find tobi_sim)/assets/meshes/ycb_rubiks_cube/texture_map.png" type="2d"/>
            <material name="ycb_rubiks_cube" texture="ycb_rubiks_cube"/>
        </asset>
    </xacro:macro>
</mujoco>